{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
<style type="text/css">
    .otree-body {
    max-width: 1370px;
}

table {
    display: inline-table;
    width: 150px;
   /*  border-style: none solid none solid;
    border-width: 5px;
    border-color: black; */
}

table th, td {
    padding: 7px 0;
    line-height: 1.1;
}

.roww {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.singlerow {
    height: 60.8px;
}


    .stimulus {
        border: 3px solid #000;
        text-align: center;
        margin: auto;
        padding: 2vh 0vw;
        vertical-align: middle;
        width: 320px;
    }

    .field-choice {
        display: flex;
    }

    .form-check-inline {
        display: block;
        margin: 0;
        width: 100%;
        flex-wrap: wrap;
        flex-basis: 0;
        flex-grow: 1;
        text-align: center;
    }

    .form-check-label {
        display: block;
        width: 100%;
    }

    .form-check-inline .form-check-input {
        margin-right: 0;
    }

</style>

{% endblock %}

{% block title %}
Your task
{% endblock %}

{% block content %}



{{if bothcorrect == True}}
    <p> Great, you answered both questions correctly.  </p>
{{else }}
    {{if nonecorrect == True}}
            <p> Oh no, none of your answers were correct. Please read the instructions below carefully.</p>
    {{endif}}
    {{if Q1correct == True}}
            <p> You got the first question correct, but answered the second question incorrectly. Please read the instructions below carefully. </p>
    {{endif}}
    {{if Q2correct == True}}
            <p> You got the second question correct, but answered the first question incorrectly. Please read the instructions below carefully.</p>
    {{endif}}
{{endif}}



<p style="padding-bottom: 20pt;"> Answer for question 1: If you choose the left option, the maximum monetary amount that you can win is 40$. This happens with 32% probability. <br>
    
    Answer for question 2: The right option emits the least CO2. 18 lbs. CO2 compared to 29 lbs. CO2.  </p>


<div class="mycont">

    <div class="roww">
        <div class="OptionA">
           <div class="col-6 stimulus">
            <div id="left-stimulus">
                <table id="moneyTable_OptA" style="margin-top:30px;">
                    <tbody>
                        <tr class="leftsidetable" style=" font-weight: bold; background-color: grey; color: white;">
                            <th colspan = "2"> Monetary <br> Bonus </th>
                        </tr>
                        <tr>
                            <td> 32%</td>
                            <td> 40$</td>
                        </tr>
                        <tr class="row-secondary-outcomeA">
                            <td> 68%</td>
                            <td> 18$</td>
                        </tr>
                    </tbody>
                </table>
    
                <table id="carbonTable_OptA" style="margin-top: 30px;">
                    <tbody>
                        <tr class="leftsidetable" style=" font-weight: bold; background-color: grey; color: white;">
                            <th> Carbon <br> Emissions</th>
                        </tr>
                        <tr class="singlerow">
                            <td> 29 lbs. CO2</td>
                        </tr>
                        
                    </tbody>
    
                </table>
            </div>
    
    
            <p style="margin-top: 30px;"> Press <i>f</i> for left option </p>
    
           </div>
          
        </div>
    
    
        <div class="OptionB">
            <div class="col-6 stimulus">
                <div id="right-stimulus">
                    <table id="moneyTable_OptB" style="margin-top:30px;">
                        <tbody>
                            <tr class="rightsidetable" style=" font-weight: bold; background-color: grey; color: white;">
                                <th> Monetary <br> Bonus</th>
                            </tr>
                            <tr class="singlerow">
                                <td> 22$</td>
                            </tr>
                            
                        </tbody>
                    </table>
        
                    <table id="carbonTable_OptB" style="margin-top: 30px;">
                        <tbody>
                            <tr class="rightsidetable" style=" font-weight: bold; background-color: grey; color: white;">
                                <th> Carbon <br> Emissions </th>
                            </tr>
                            <tr class="singlerow">
                                <td> 18 lbs. CO2</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
        
        
                <p style="margin-top: 30px;"> Press <i>j</i> for right option </p>
        
               </div>
    
         </div>
    </div>
    </div>
    


<p style="padding-top: 20pt;"> </p>
{{if bothcorrect == False}} 
    <p > You see the two options with the description of their carbon and monetary outcomes. The emission outcome is always certain. For one of the options, the monetary outcome is risky. The percentages indicate the probability with which either of the two possible risky outcomes will occur. </p>

    {{endif}} 

    <p> To better understand the consequences, take into account that 1 lbs. CO2 corresponds to approximately 1.1 miles of a car drive with an average car. </p>

    <p> Your monetary bonus is displayed in study dollars and will be exchanged to British pounds according to £1 equals study $25.</p>

    <p> To choose an option use your keyboard and Press <i>f</i> for the left option and <i>j</i> for the right option.  </p>


<p> You have now the chance to practice the task in two hypothetical choice situations. Note that your choices during the practice rounds will not be relevant for your monetary bonus or the real-world carbon emissions. </p>


{{ formfields }}


<button style="float: right; margin-top: 2vh;" class="otree-btn-next btn btn-primary" id="consent-next">Next</button>
{% endblock %}


{% block scripts %}
<script type="text/javascript">

    var carbonLeft = "{{carbonLeft}}"
    
    function switchCarbonLeft() {
        div1 = $('#moneyTable_OptA');
        div2 = $('#carbonTable_OptA');

        tdiv1 = div1.clone(true);
        tdiv2 = div2.clone(true);

        div1.replaceWith(tdiv2);
        div2.replaceWith(tdiv1);


        div3 = $('#moneyTable_OptB');
        div4 = $('#carbonTable_OptB');

        tdiv3 = div3.clone(true);
        tdiv4 = div4.clone(true);

        div3.replaceWith(tdiv4);
        div4.replaceWith(tdiv3);

        choiceListener.init();
        //jQuery(document).on('keydown', console.log("now"), console.log(""), choiceListener.keyboardInput);
        //jQuery('#left-stimulus').on('click', choiceListener.AClick());
        //jQuery('#right-stimulus').on('click', choiceListener.BClick());
    }


        jQuery(document).ready(function () {


            if (carbonLeft == "True") {
                switchCarbonLeft()
            }


        });



</script>

{% endblock %}

